body::-webkit-scrollbar {
    width: 11px;
    background: var(--bgbar)
}

body::-webkit-scrollbar-thumb {
    border-radius: 320px;
    border: 2px solid var(--bgbar);
    background: var(--bar)
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--barh);
}

body::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}