@media (prefers-color-scheme: dark) {
    
* {
	--nucleo: rgb(255, 196, 0);
    --nucleoh: rgb(255, 174, 0);

    --hover: rgb(245, 245, 245);

	--textcolor: #b4b4b4;
    --bgcolor: rgb(0, 0, 0);
	--header: rgb(77, 77, 77);

	--title: rgb(22, 62, 119);

	--bar:rgb(227, 229, 232);
    --bgbar: rgb(68, 68, 68);
    --barh: rgb(255, 174, 0);
}
}