.disable li a:hover {
	color: var(--hover);
	border: none;
}

a.folder {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 30px auto;

    display: block;
    background: rgba(170, 167, 167, 0);
}

a p {
    color: var(--textcolor);
}

a.folder:hover {
    background: var(--header);
    color: var(--nucleoh);
}