* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

::selection {
    background: var(--nucleo);
    color: var(--ftext);
}

html, body {height: 100%;}

#root, #__next {isolation: isolate;}

p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

*,::before, ::after {box-sizing: border-box;}

input, button, textarea, select {font: inherit;}

/* EH WI GUO */

* {
	--nucleo: rgb(33, 96, 190);
    --nucleoh: rgb(55, 85, 255);
	--textcolor: #121212;
    --bgcolor: rgb(253, 253, 253);
	--hover: rgb(0, 38, 255);

	
	--header: rgb(223, 223, 223);

	--title: rgb(207, 214, 224);

	--bar:rgb(68, 68, 68);
    --bgbar: rgb(227, 229, 232);
    --barh: rgb(33, 96, 190);
}

body {background: var(--bgcolor);}

header {
	display: flex;
	height: 60px;
	width: 100%;
	background: var(--header);
	top: 0;

	position: fixed;
	font-family: 'Whitney';
}

.menu {display: none; width: 0; height: 0;}

ul, ol, a {
	text-decoration: none;
	list-style: none;
}

/*MENU*/

.menu-op {
	font-size: 2rem;
	height: auto;
	font-family: 'Whitney';
}

.menu-op li {margin: 120px 60px;}

a {color: var(--nucleo);}

.menu-op a:hover {color: var(--hover);}

/*HEADER*/

ol { margin: auto 20px;}

.desk li {
	float: left;
	padding: 10px;
}

.desk a {padding: 20px;}

li a:hover {
	color: var(--hover);
	border-bottom: 2px solid var(--hover);
}

.logo {
	height: 60px;
	display: block;
	width: 200px;
	background-color: rgba(42, 44, 51, 0.432);
}

.content {
	width: 100%;
	margin: 60px auto 0 auto;
	height: auto;

	font-family: 'Whitney';
	color: var(--textcolor);
}

.title {
	width: auto;
	height: 200px;

	display: block;
	margin: auto;
	padding: 120px 40px 0 40px;

	background: var(--title);
	font-size: 2rem;
}

.square {
	font-size: 1.2em;
	width: 680px;
	height: auto;
	padding: 40px 20px;
	margin: auto 20px;
	background: red;
}
