* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

::selection {
    background: var(--nucleo);
    color: var(--bgcolor);
}

html, body {height: 100%;}

#root, #__next {isolation: isolate;}

p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

*,::before, ::after {box-sizing: border-box;}

input, button, textarea, select {font: inherit;}

/* EH WI GUO */

* {
	--nucleo: rgb(33, 96, 190);
    --nucleoh: rgb(55, 85, 255);
	--textcolor: #121212;
    --bgcolor: rgb(253, 253, 253);
	--hover: rgb(0, 38, 255);

	
	--header: rgba(255, 255, 255, 0.849);

	--title: linear-gradient(
		180deg,
		hsl(240deg 7% 92%) 0%,
		hsl(233deg 22% 89%) 21%,
		hsl(227deg 34% 86%) 35%,
		hsl(222deg 43% 83%) 47%,
		hsl(218deg 50% 80%) 58%,
		hsl(214deg 56% 76%) 68%,
		hsl(210deg 60% 71%) 77%,
		hsl(206deg 63% 66%) 85%,
		hsl(202deg 66% 59%) 93%,
		hsl(197deg 79% 47%) 100%
	  );

	--bar:rgb(68, 68, 68);
    --bgbar: rgb(227, 229, 232);
    --barh: rgb(33, 96, 190);

	--menu: rgba(250, 250, 250, 0.644);
}

body {background: var(--bgcolor);}

header {
	display: flex;
	height: 60px;
	width: 100%;
	background: var(--header);
	backdrop-filter: blur(4px);
	top: 0;

	position: fixed;
	font-family: 'Whitney';
}

.menu {display: none; width: 0; height: 0;}

ul, ol, a {
	text-decoration: none;
	list-style: none;
}

/*MENU*/

.menu-op {
	font-size: 3rem;
	height: auto;
	font-family: 'Whitney';
}

.menu-op li {margin: 140px 60px;}

a {color: var(--nucleo);}

.menu-op a:hover {color: var(--hover);}

/*HEADER*/

ol { margin: auto 20px;}

.desk li {
	float: left;
	padding: 10px;
}

.desk a {padding: 20px;}

li a:hover {
	color: var(--hover);
	border-bottom: 2px solid var(--hover);
}

.logo {
	height: 60px;
	display: block;
	width: 200px;
	background-color: rgba(42, 44, 51, 0.432);
}

/*CONTENT*/

.content {
	width: 100%;
	margin: 60px auto 0 auto;
	height: auto;

	font-family: 'Whitney';
	color: var(--textcolor);
}

.title {
	width: auto;
	height: auto;

	display: block;
	margin: auto;
	padding: 160px 60px 20px 60px;

	background: var(--title);
	font-size: 2.2rem;
}

.square {
	font-size: 1.2em;
	width: 700px;
	height: auto;
	padding: 40px 40px;
	margin: auto 20px;
	background: rgba(87, 33, 33, 0);
}

a.link:hover {
	color: var(--nucleoh);
}

.comentario {
	width: 100%;
	height: auto;
	background-color: #121212;
	color: rgb(199, 199, 199);
	padding: 20px;
}

/* EVENTO DEFINICION */

.event {
	width: 100%;
	display: flex;
	height: auto;
}

.Cuadros {
	width: 20%;
	height: 180px;
	padding: 6px;
	margin: auto 4px;
	border-radius: 20px;
	color: #121212;
	cursor: default;
}

.Cuadros:hover {background: var(--nucleo); transition: 0.3s; }

.Ex1 {background: yellowgreen;}

.Ex2 {background: rgb(245, 52, 3);}