input[type="checkbox"]{
    align-content:center;

    width: 40px;
    height: 40px;

    position: absolute;
    float: left;
    -webkit-appearance: none;

    top: 12px;
    margin: 1px;
        
    border-radius: 360px;
    transition: 0.3s ease;
    cursor: pointer;
}
  
input[type="checkbox"]:before{
    text-align:center;
    text-decoration: none;

    font-size: 17px;
    transition: 0.3s ease;

    content: '';

    position: absolute;

    width: 40px;
    height: 40px;
    border-radius: 360px;
    top: -3px;

    background-color: var(--btncolor);

    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
  
input:checked[type="checkbox"]:before{ 
    background: none;
    box-shadow: none;
    text-align:center;
    content: '';
}

.menu-btn {
	position: fixed;
	display: none;

	padding: 0 20px;
	width: 60px;
	height: 60px;
    right: 30px;
    top: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 2;
}

.detail {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px 0;

    text-align: center;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: var(--textcolor);
}

.menu-op {
	font-size: 2rem;
	height: auto;
	font-family: 'Palanquin Dark', sans-serif;
    animation: dude 0.2s ease;
}

@keyframes dude {
    0% {transform: translateY(40px);}
    100%{}
}

.menu-op li {margin: 80px 40px;}

.menu-op a:hover {color: var(--hover);}

@media (max-width:780px) {
.menu-toggle {
    display: block;
    user-select: none;
    width: 100vw;
    height: 100vh;
    bottom: 1px;
    position: fixed;
  
    background: var(--menu);
    backdrop-filter: blur(4px);
    transition: 0.2s ease;
    animation: focus 0.2s ease;
  }
  
  @keyframes focus {
      0%{opacity: 0;}
      100% {opacity: 1;}
  }
}

/* IN PROCESO EXCESIVO */
.barita, .barita2{
	width: 30px;
    height: 4px;
    right: 34px;
    position: fixed;
    border-radius: 20px;
	z-index: 1;
    transition: 0.3s;
    cursor: pointer;
}

.barita { 
    top: 24px;
    background-color: rgb(255, 255, 255);
}


.barita2 {
    top: 32px;
    background-color: rgb(255, 255, 255);
}

.action-1{
    transition: 0.2s;
    transform: rotate(-46deg);
    background-color: var(--btnchecked);
    top: 28px;
}

.action-2{
    transition: 0.2s;  
    transform: rotate(44deg);
    background-color: var(--btnchecked);
    top: 28px;
}

