@media (max-width:700px) {
    ol{display: none;}

    .logo {height: 60px; font-size: 1.2rem; width: 160px;}

    .menu-btn {display: block;}

    header{height: 60px; padding: 0;}

    .square{margin: auto auto; width: 100%; font-size: 1.1rem; padding: 40px 20px;}

    .square2{margin: auto auto; width: 100%; font-size: 1.2rem; padding: 60px 20px;}

    .content {width: 100%;}

    .title {padding: 200px 20px 20px 20px; font-size: 1.4rem;}

    footer {width: 100%; padding: 40px 20px;}

    footer h1 {font-size: 1.8rem;}
    
    /**/

    .event {margin: auto;}

    .Cuadros { width: 17.5%; height: 160px; font-size: 9px; margin: auto 2px;}
    
}

@media (max-width:1180px) {
    .feed {display: none}
}

@viewport {
    zoom: 0.5;
}
