@media (max-width:700px) {
    ol{display: none;}

    .logo {height: 90px; padding:30px;font-size: 1.6rem;}

    .menu-btn {display: block;}

    header{height: 90px;}

    .square{margin: auto auto; width: 340px; font-size: 1.6rem;}

    .square2{margin: auto auto; width: 340px; font-size: 1.6rem; padding: 60px 40px;}

    .content {width: 340px;}

    .title {padding: 300px 40px 20px 40px;}

    footer {width: 340px;}
    
    /**/

    .Cuadros { width: 18.5%; font-size: 16px;}
    
}

@media (max-width:1180px) {
    .feed {display: none}
}

@viewport {
    zoom: 0.5;
}
