@media (max-width:780px) {

    ol{display: none;}

    .logo {
        height: 60px; 
        font-size: 1.15rem; 
        width: 160px;
    }

    .logo:hover {
        font-size: 1.15rem;
    }

    .menu-btn {display: block;}

    header {
        height: 60px; 
        padding: 0;
    }

    .square{
        margin: auto; 
        width: 100%; 
        font-size: 1.1rem; 
        padding: 40px 20px;
    }

    .content {width: 100%;}

    .title {
        padding: 200px 20px 20px 20px; 
        font-size: 1.4rem;
    }

    footer h1 {font-size: 1.8rem;}

    p.new {
        padding: 0 6px;
        font-size: 1em; 
    }

    .principal {
        display: block;
        margin: auto;
    }
    
    .principal2 {
        margin: auto;
    }
    
    /**/

    .event {margin: auto;}

    .Cuadros {height: 160px; font-size: 10px; margin: auto 2px;}
    
    .folder {
        cursor: default;
    }
    
}

@media (max-width:1130px) {

    .principal {
        padding-left: 0;
        padding-right: 0;
    }

    .principal2 {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width:1050px) { 

    .feed {display: none}

    .wrapfooter { 
        display: block;
    }

    .redux-1 {
        padding: 40px 20px 20px 20px;
    }

    .redux-2 {
        padding: 20px 20px; 
    }
    
    .principal {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0;
        margin: auto;
    }

    .square{margin: auto;}

    .dotes::after {content: '';}
    
}

@viewport {
    zoom: 0.5;
}


